/*GENERAL RULES*/
html {
  font-size: 18px;
}

/*HEADER*/
#header {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: black;
}
#header img {
  height: 1.5em;
  width: auto;
  margin: 0 .5rem 0 1rem;
}
#header h1 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  color: white;
  padding: .66rem 0;
}

/*COVER*/
#cover {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}
#cover .text-banner {
  background-color: black;
  display: block;
  width: 23rem;
  position: relative;
  top: 9rem;
  left: 5rem;
  color: white;
  text-transform: uppercase;
}
#cover .text-banner h2 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 2rem 0 .25rem 3rem;
}
#cover .text-banner h3 {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 0 0 2rem 3rem;
}

/*PRODUCT-BANNER*/
#product-banner {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: firebrick;
}
#product-banner nav ul li {
  display: inline-block;
  padding: .75rem .3rem;
  font-family: Roboto, sans-serif;
}
#product-banner nav ul li a {
  color: white;
  text-decoration: none;
}
#product-banner h3 {
  padding: .75rem .3rem;
  visibility: hidden;
  position: absolute;
  left: 46%;
}
#product-banner h3 a {
  color: white;
  text-decoration: none;
}

/*PRODUCT-GALLERY*/
#product-gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;
}
#product-gallery .text-banner {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px solid black;
  width: 30%;
  min-width: 15rem;
  flex-grow: 0;
}
#product-gallery .text-banner img {
  width: 9rem;
  height: 9rem;
  padding: 2rem;
}
#product-gallery .text-banner h4 {
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem;
  width: 100%;
}

/*COMPANY-INFO*/
#company-info {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 4rem 0;
}
#company-info .text-banner {
  width: 35%;
}
#company-info .text-banner h5 {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

/*FOOTER*/
#footer {
  display: inline-flex;
  align-items: center;
  height: 5rem;
  background-color: black;
  width: 100%;
}
#footer h3 {
  color: white;
  padding: 2rem;
}

/*MEDIA QUERIES*/
  /*SMALL SIZE*/
@media only screen and (max-width: 470px) {
  #cover {
    height: 15rem;
  }
  #cover .text-banner {
    width: 100%;
    left: 0;
    top: 10rem;
  }
  #cover .text-banner h2 {
    font-size: .77rem;
    padding: 1rem 0 .25rem 2rem;
  }
  #cover .text-banner h3 {
    font-size: 1rem;
    padding: .25rem 0 1rem 2rem;
  }
  #product-banner {
    height: 3rem;
  }
  #product-gallery {
    width: 100%;
  }
  #product-gallery .text-banner:nth-child(2) {
    display: none;
  }
  #product-gallery .text-banner {
    width: 100%;
    margin: 0 auto;
  }
  #company-info .text-banner {
    width: 90%;
    margin: 0 5% .5rem 5%;
  }
  #footer h3 {
    width: 100%;
    text-align: center;
  }
}

  /*MEDIUM SIZE*/
@media only screen and (max-width: 1024px) {
  #product-banner ul {
    visibility: hidden;
  }
  #product-banner h3 {
    visibility: visible;
  }
  #product-gallery {
    justify-content: space-between;
  }
  #product-gallery .text-banner {
    width: 47%;
  }
  #product-gallery .text-banner img {
    width: 9rem;
    height: 9rem;
    padding: 2rem;
  }
  #product-gallery .text-banner:last-child {
    display: none;
  }
  #company-info {
    justify-content: space-between;
  }
}

  /*LARGE SIZE*/
@media only screen and (min-width: 1024px) {
  #product-gallery .text-banner img {
    width: 9rem;
    height: 9rem;
    padding: 2rem;
  }
}
