/*GENERAL RULES*/
html {
  font-size: 18px;
}

/*HEADER*/
#header {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: black;
}
#header img {
  height: 1.5em;
  width: auto;
  margin: 0 .5rem 0 1rem;
}
#header h1 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  color: white;
  padding: .66rem 0;
}

/*COVER*/
#cover {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}
#cover .text-banner {
  background-color: black;
  display: block;
  width: 23rem;
  position: relative;
  top: 9rem;
  left: 5rem;
  color: white;
}
#cover .text-banner h2 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 2rem 0 .25rem 3rem;
}
#cover .text-banner h3 {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 0 0 2rem 3rem;
}
